
body{
    background: #D7BDE2  ;
}
.palabra1{
    background-color: yellow;
    height: 90px;
    width: 80%;
    font-size: 40px;
    margin-top: 50px;
    margin-right: 100%;
    margin-left: 50px;
    display: block;
}
.palabra2{
    background-color:#ed2251;
    height: 90px;
    width: 80%;
    border-style: solid;
    border-block-start-color:#000; 
    font-size: 40px;
   margin-right: 100%;
    margin-left: 50px;
    display: block;
}
.palabra3{
    background-color: yellow;
    height: 90px;
    width: 80%;
    font-size: 40px;
     margin-right: 100%;
    margin-left: 50px;
    display: block;
}

.primero{
    background-color: yellow;
    height: 120px;
    width: 30%;
    font-size: 40px;
    margin-top: 90px;
    margin-right: 100%;
    margin-left: 30%;
    display: block;
}
.segundo{
    background-color:#ed2251;
    height: 120px;
    width: 30%; 
    font-size: 40px;
    margin-top: 50px;
   margin-right:100%;
    margin-left: 30%;
    display: block;
}
.tercero{
    background-color: yellow;
    height: 120px;
    width: 30%;
    font-size: 40px;
    margin-top: 50px;
     margin-right: 100%;
    margin-left: 30%;
    display: block;
}
.text1{
     background-color: yellow;
     font-weight: 10px;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 30%;
    padding: 11px 20px;
    display: inline-block;


}
.text2{
     background-color:#ed2251; 
     font-weight: 10px;
    font-size: 40px;
    margin-left: 20px;
    padding: 11px 20px;
    display: inline-block;
}
.text3{
     background-color: yellow;
     font-weight: 10px;
    font-size: 40px;
    margin-left: 20px;
    padding: 11px 20px;
    display: inline-block;


}
.text4{
     background-color: yellow;
     font-weight: 10px;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 30%;
    padding: 40px 20px;
    display: inline-block;


}
.text5{
     background-color:#ed2251; 
     font-weight: 10px;
    font-size: 40px;
    margin-left: 20px;
    padding: 40px 20px;
    display: inline-block;
}
.text6{
     background-color: yellow;
     font-weight: 10px;
    font-size: 40px;
    margin-left: 20px;
    padding: 40px 20px;
    display: inline-block;


}



.caja3{
   
    background-color: transparent;
     padding: 30px;
     display: inline-block;
     border: 2px solid #9332BB  ;
      margin-top: 50px;
      margin-left: 50px;
}

